@use './variables' as *;
@use './bases';
@use './mixins';

// ==============================
// Point d'entrée global
// ==============================

// Layout global pour pousser le footer en bas
// lorsque le contenu de la page est court.
.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex: 1;
}